---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import RightBlob from "../assets/right-blob.svg";
import LeftBlob from "../assets/left-blob.png";
import CyberPadlock from "../assets/cyber-padlock.png";
import PasswordIcon from "../assets/password-icon.svg";
import RocketIcon from "../assets/rocket-icon.svg";
import SocialIcon from "../assets/diagram-icon.svg";
import DiagramdIcon from "../assets/social-media-icon.svg";
import CybersecurityPadlock from "../assets/cybersecurity-padlock.png";
import IconAnalyze from "../assets/icon-analyze.svg";
import IconOpenvpn from "../assets/icon-openvpn.svg";
import IconQuery from "../assets/icon-query.svg";
import CyberHand from "../assets/cyber-hand.png";
import CyberCollage from "../assets/cyber-collage.png";
import CaseStudyImage1 from "../assets/case-study-image-1.png";
import CaseStudyImage2 from "../assets/case-study-image-2.png";

import IconBox from "../assets/icons/icon-box.svg";
import IconCheckup from "../assets/icons/icon-checkup.svg";
import IconDevice from "../assets/icons/icon-device.svg";
import IconFile from "../assets/icons/icon-file-alert.svg";
import IconHeadphones from "../assets/icons/icon-headphones.svg";
import IconHeadset from "../assets/icons/icon-headset.svg";
import IconHeadsetAlt from "../assets/icons/icon-headsetAlt.svg";
import IconQuerybrand from "../assets/icons/icon-query-brand.svg";
import IconSearch from "../assets/icons/icon-query-brand.svg";
import IconVideo from "../assets/icons/icon-video.svg";
import IconVirus from "../assets/icons/icon-virus-off.svg";

import HeroFirst from "../components/HeroFirst.astro";
import BoxWithLeftIconButton from "../components/BoxWithLeftIconButton.astro";
import IconBorderBox from "../components/IconBorderBox.astro";
import TwoColRow from "../components/TwoColRow.astro";
import CenteredCol from "../components/CenteredCol.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionTitleWithoutImage from "../components/SectionTitleWithoutImage.astro";
import ContentBorderBox from "../components/ContentBorderBox.astro";
import ButtonLeftArrow from "../components/ButtonLeftArrow.astro";
import OrderdListElement from "../components/OrderdListElement.astro";
import BoxWithTextIcon from "../components/BoxWithTextIcon.astro";
import ListElementBorderBottom from "../components/ListElementBorderBottom.astro";
import ButtonWithBorder from "../components/ButtonWithBorder.astro";
import CaseStudy from "../components/CaseStudy.astro";
import Testimonials from "../components/Testimonials.astro";
import TesimonialsImages from "../components/TesimonialsImages.astro";
import NewsletterSection from "../components/NewsletterSection.astro";
import NewsSection from "../components/NewsSection.astro";
const pageTitle = "Strona główna";
const baseURL = '/cyber-test/';


---

<BaseLayout>

  <div class="header">
    <div class="header-content header-main">
      <HeroFirst
        subheadline="COIG S.A"
        headline="COIG CYBER"
        headlineAccent="Security"
        description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom"
        descriptionAccent="bezpieczeństwa"
        display="block"
      />
      <BoxWithLeftIconButton
        headline="Security Operations Center"
        description="SOC zwiększa bezpieczeństwo firmy przez monitoring, wykrywanie zagrożeń i zarządzanie incydentami."
        href="./soc"
      />
    </div>
    <Image
      class="right-top-blob"
      src={RightBlob}
      alt="Right blob"
      widths={[240, 540, 720, RightBlob.width]}
    />
    <Image
      class="left-bottom-blob"
      src={LeftBlob}
      alt="Left blob"
      widths={[240, 540, 720, LeftBlob.width]}
    />
  </div>
  <div class="section section--white">
    <div class="two-col-flex space-between">
      <div class="first-col">
        <SectionTitle
          headline="Usługi cyberbezpieczeństwa"
          description="Zwiększ bezpieczeństwo w swojej firmie. Wybierz zestaw usług stosowny do potrzeb:"
          imageSrc={CyberPadlock}
          imageAlt="pierońsko kulka"
        />
      </div>

      <div class="second-col-flex">
        <ContentBorderBox
          image={DiagramdIcon.src}
          imageAlt="Diagram Icon"
          headline="Audyty IT"
          description="Audyt IT składa się z analizy procesów, weryfikacji zabezpieczeń, dokumentacji i oceny zgodności z regulacjami."
          href="audyt"
        />

        <ContentBorderBox
          image={RocketIcon.src}
          imageAlt="Rocket Icon"
          headline="Testy Penetracyjne"
          description="Kontrolowany atak pozwalający ocenić stan bezpieczeństwa systemu teleinformatycznego oraz jego odporność na zagrożenia i podatności."
          href="pentesty"
        />

        <ContentBorderBox
          image={DiagramdIcon.src}
          imageAlt="Password Icon"
          headline="CSIRT COIG"
          description="Zespół CSIRT COIG reaguje na incydenty bezpieczeństwa, chroniąc usługi świadczone przez COIG S.A"
          href={`${baseURL}#CSIRT`}
          />

        <div class="text-box">
          <h3>Dowiedz się <br /><span>o COIG S.A</span></h3>
          <ButtonLeftArrow href={`${baseURL}contact/`} description="Czytaj więcej" />
        </div>
      </div>
    </div>
  </div>
  <div class="section section--white">
    <SectionTitleWithoutImage headline="Dlaczego My?" />
    <div class="ordered-list-wrapper centered">
      <div class="two-col-flex space-between">
        <div class="first-col flex-column">
          <OrderdListElement
            number="01"
            description="Zwiększamy bezpieczeństwa organizacji"
          />
          <OrderdListElement
            number="02"
            description="Wykrywamy potencjalne zagrożenia Twojej infrastruktury"
          />
          <OrderdListElement
            number="03"
            description="Automatyzujemy złożone procesy zarządzania cyberbezpieczeństwem"
          />
          <OrderdListElement
            number="04"
            description="Zwiększamy efektywność procesu zarządzania bezpieczeństwem"
          />
        </div>
        <div class="second-col-flex flex-column">
          <OrderdListElement
            number="05"
            description="Działamy zgodnie z posiadanym certyfikatem ISO 27001"
          />
          <OrderdListElement
            number="06"
            description="Optymalizujemy koszty utrzymania bezpieczeństwa IT"
          />
          <OrderdListElement
            number="07"
            description="Dopasowujemy nasze usługi do Twoich potrzeb"
          />
          <OrderdListElement
            number="08"
            description="Posiadamy wiedzę, wieloletnie doświadczenie w zakresie bezpieczeństwa teleinformatycznego"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section section--white">
    <div class="two-col-flex space-around align-items">
      <div class="first-col flex-column">
        <Image
          class="image-decoration"
          src={CybersecurityPadlock}
          alt="CybersecurityPadlock"
          widths={[240, 540, 720, CybersecurityPadlock.width]}
        />
      </div>
      <div class="second-col-flex flex-column">
        <SectionTitleWithoutImage
          headline="Sieci i jej zagrożenia?"
          description="W dzisiejszym świecie sieć teleinformatyczna jest istotnym elementem komunikacji i działalności kluczowych procesów biznesowych ale również niesie ze sobą liczne ryzyka. Dlatego zapewnienie bezpieczeństwa teleinformatycznego oraz świadomość zagrożeń są niezwykle istotne dla zapewnienia stabilności i bezpieczeństwa infrastruktury teleinformatycznej, a przede wszystkim głównych procesów biznesowych."
        />
        <ButtonLeftArrow href="pentesty" description="Czytaj więcej" />
      </div>
    </div>
  </div>
  <div class="section section--white">
    <div class="two-col-flex space-around align-items">
      <div class="first-col flex-column">
        <SectionTitleWithoutImage
          headline="Bezpieczeństwo informatyczne"
          description="Zbieranie i przetwarzanie danych w formie cyfrowej naraża je na nowe rodzaje zagrożeń ze strony cyberprzestępców. Nie istnieją rozwiązania, które mogłyby zagwarantować absolutne bezpieczeństwo informacji, jednak my wiemy jak zapewnić im najwyższy poziom ochrony. "
        />
        <p class="paragraph-highlight">
          Bezpieczeństwo informatyczne to zapewnienie:
        </p>
      </div>
      <div class="second-col-flex flex-column">
        <BoxWithTextIcon
          headline="Dostępność"
          description="(Availability)"
          imageSrc={IconQuery}
          imageAlt="Query Icon"
        />

        <BoxWithTextIcon
          headline="Integralności "
          description="(Integrity)"
          imageSrc={IconAnalyze}
          imageAlt="Analyze Icon"
        />
        <BoxWithTextIcon
          headline="Poufności "
          description="(Confidentiality)"
          imageSrc={IconOpenvpn}
          imageAlt="Openvpn Icon"
        />
      </div>
    </div>
  </div>
  <div class="section-full">
    <Image
      class="full-width-image"
      src={CyberHand}
      alt="Cyber Hand"
      widths={[240, 540, 720, CyberHand.width]}
    />
  </div>
  <div class="section section--white section--borderd-bottom">
    <div class="two-col-flex space-around align-items">
      <div class="first-col flex-column">
        <SectionTitleWithoutImage
          headline="Security Operations Center "
          description="Security Operations Center (SOC) to wyspecjalizowana jednostka w organizacji odpowiedzialna za monitorowanie, wykrywanie, analizę oraz reagowanie na zagrożenia i incydenty związane z bezpieczeństwem informatycznym. "
        />
      </div>
      <div class="second-col-flex flex-column">
        <ListElementBorderBottom
          headline="L1 - Pierwsza linia wsparcia"
          imageSrc={IconHeadphones}
          imageAlt="Query Icon"
        />
        <ListElementBorderBottom
          headline="L2 - Druga linia wsparcia"
          imageSrc={IconHeadset}
          imageAlt="Headphones Icon"
        />
        <ListElementBorderBottom
          headline="L3 - Trzecia linia wsparcia"
          imageSrc={IconHeadsetAlt}
          imageAlt="Headphones Icon"
        />
        <ListElementBorderBottom
          headline="Monitoring 24/7/365"
          imageSrc={IconVideo}
          imageAlt="Camera Icon"
        />
        <ListElementBorderBottom
          headline="Zarządzanie incydentami"
          imageSrc={IconQuerybrand}
          imageAlt="zoom Icon"
        />
        <ListElementBorderBottom
          headline="Zarządzanie podatnościami"
          imageSrc={IconCheckup}
          imageAlt="Doc Icon"
        />
      </div>
    </div>
  </div>
  <div class="section section--white section--borderd-bottom">
    <div class="two-col-flex space-around align-items">
      <div class="first-col flex-column">
        <ListElementBorderBottom
          headline="Audyty ISO"
          imageSrc={IconSearch}
          imageAlt="Query Icon"
        />
        <ListElementBorderBottom
          headline="Diagnozy"
          imageSrc={IconFile}
          imageAlt="Headphones Icon"
        />
        <ListElementBorderBottom
          headline="KRI"
          imageSrc={IconBox}
          imageAlt="Headphones Icon"
        />
        <ListElementBorderBottom
          headline="Analiza powłamaniowa"
          imageSrc={IconVirus}
          imageAlt="Camera Icon"
        />
        <ListElementBorderBottom
          headline="Audyt SOC "
          imageSrc={IconDevice}
          imageAlt="zoom Icon"
        />
        <div class="margin-top-50">
          <ButtonLeftArrow href="audyt" description="Czytaj więcej" />
        </div>
      </div>
      <div class="second-col-flex flex-column">
        <SectionTitleWithoutImage
          headline="Audyty IT"
          description="Audyt bezpieczeństwa składa się z analizy, identyfikacji procesów związanych z przetwarzaniem danych, weryfikacji zabezpieczeń logicznych i fizycznych, weryfikacji dokumentacji związanej z ochroną danych oraz ocenę zgodności z aktualnym stanem prawnym i wewnętrznymi regulacjami oraz najlepszymi praktykami w zakresie zapewnienia odpowiedniego poziomu bezpieczeństwa organizacji. "
        />
      </div>
    </div>
  </div>
  <div class="section section--white section--borderd-bottom">
    <div class="two-col-flex space-around align-items">
      <div class="first-col flex-column">
        <Image
          class="image-decoration"
          src={CyberCollage}
          alt="CybersecurityPadlock"
          widths={[240, 540, 720, CybersecurityPadlock.width]}
        />
      </div>
      <div class="second-col-flex flex-column">
        <SectionTitleWithoutImage
          headline="Testy Penetracyjne"
          description="Testy penetracyjne to kontrolowany atak na system teleinformatyczny, mający na celu praktyczną ocenę aktualnego poziomu bezpieczeństwa, zwłaszcza wykrywania istniejących podatności i odporności na próby przełamania zabezpieczeń. "
        />
        <ButtonLeftArrow href="pentesty" description="Czytaj więcej" />
      </div>
    </div>
  </div>
  <div class="section section--white section--borderd-bottom">
    <div class="two-col-flex space-around flex-start">
      <div class="first-col flex-column">
        <div class="two-col-flex space-around align-items">
          <div class="first-col small-column">
            <p class="paragraph paragraph-button-description">
              Informacja o działaniu CSIRT COIG RFC-2350
            </p>
            <div class="small-column-button">
              <ButtonLeftArrow href="#" description="Pobierz" />
            </div>
          </div>
          <div class="second-col-flex small-column">
            <p class="paragraph paragraph-button-description">
              Information on the operation of COIG CSIRT RFC-2350
            </p>
            <div class="small-column-button">
              <ButtonLeftArrow href="#" description="Download" />
            </div>
          </div>
        </div>
        <div class="description-wrapper">
          <p class="desciption-paragraph paragraph">
            Zgłoszenia incydentów prosimy przesyłać za pośrednictwem poczty
            elektronicznej, szyfrowanej dostępnym poniżej kluczem publicznym na
            adres: helpdesk@gk.wasko.pl
          </p>
          <ButtonWithBorder href="#" description="POBIERZ KLUCZ CSIRT" />
        </div>
      </div>
      <div class="second-col-flex flex-column" id="CSIRT">
        <SectionTitleWithoutImage
          headline="CSIRT COIG"
          description="CSIRT COIG (Computer Security Incident Response Team) stanowi zespół odpowiedzialny za reagowanie na incydenty związane z bezpieczeństwem komputerowym, które mogą wpłynąć negatywnie na bezpieczeństwo dostarczanych usług. "
        />
      </div>
    </div>
  </div>
  <div class="section section--white">
    <SectionTitleWithoutImage headline="Case Study" />
    <div class="two-col-flex space-around flex-start">
      <CaseStudy
        tag="SOC"
        headline="Wdrożenie nowego programu dla COIG S.A. podnoszącego bezpieczeństwo "
        description="Lorem ipsum dolor sit amet consectetur. Diam lorem at donec faucibus nulla nulla magna dictum. Parturient laoreet vehicula morbi amet eu ultricies. Augue diam aliquam consectetur massa aliquet nulla sit at duis. Non sit eget lectus faucibus nullam."
        imageSrc={CaseStudyImage1}
        imageAlt="CaseStudyImage1"
      />
      <CaseStudy
        tag="Audyt IT"
        headline="Kompleksowy program cyberbezpieczeństwa w branży telekomunikacyjnej"
        description="Lorem ipsum dolor sit amet consectetur. Diam lorem at donec faucibus nulla nulla magna dictum. Parturient laoreet vehicula morbi amet eu ultricies. Augue diam aliquam consectetur massa aliquet nulla sit at duis. Non sit eget lectus faucibus nullam."
        imageSrc={CaseStudyImage2}
        imageAlt="CaseStudyImage2"
      />
    </div>
  </div>

  <div class="section section--blueish">
    <div class="testimonials-section">
      <div class="section-title-center">
        <SectionTitleWithoutImage headline="Co o nas mówią" />
      </div>
      <div class="flex space-around">
        <div class="testimonials-wrapper">
          <Testimonials
            description="Nasz zespół miał przyjemność skorzystać z usług COIG z zakresu cyberbezpieczeństwa, w tym SOC, audytów IT oraz pentestów. Jesteśmy zachwyceni profesjonalizmem i zaangażowaniem, jakie wykazała firma COIG. Ich eksperci dostarczyli nam szczegółowe raporty z audytów i pentestów, dzięki czemu mogliśmy zidentyfikować i naprawić istniejące luki w naszej infrastrukturze."
            author="WASKO"
          />
          <Testimonials
            description="Współpraca z COIG w zakresie usług związanych z cyberbezpieczeństwem była dla nas niezwykle wartościowa. Ich zespół audytorów przeprowadził gruntowny przegląd naszej infrastruktury IT, identyfikując ryzyka i proponując konkretną strategię poprawek."
            author="Logic Synergy"
          />
          <Testimonials
            description="Dzięki Centrum Operacji Cyberbezpieczeństwa COIG jesteśmy w stanie monitorować naszą infrastrukturę na bieżąco i reagować na ewentualne incydenty. Polecamy COIG każdej firmie, która priorytetem stawia bezpieczeństwo swoich danych."
            author="WASKO"
          />
        </div>
      </div>
    </div>
    <div class="testimonials-images-section">
      <div class="section-title-center">
        <SectionTitleWithoutImage headline="Zaufali nam" />
      </div>

      <TesimonialsImages />
    </div>
  </div>
  <NewsletterSection />
  <!-- <NewsSection /> -->
</BaseLayout>
