---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import RightBlob from "../assets/right-blob.svg";
import LeftBlob from "../assets/left-blob.png";
import CyberPadlock from "../assets/cyber-padlock.png";
import PasswordIcon from "../assets/password-icon.svg";
import RocketIcon from "../assets/rocket-icon.svg";
import SocialIcon from "../assets/diagram-icon.svg";
import DiagramdIcon from "../assets/social-media-icon.svg";

import HeroFirst from "../components/HeroFirst.astro";
import BoxWithLeftIconButton from "../components/BoxWithLeftIconButton.astro";
import IconBorderBox from "../components/IconBorderBox.astro";
import TwoColRow from "../components/TwoColRow.astro";
import CenteredCol from "../components/CenteredCol.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ContentBorderBox from "../components/ContentBorderBox.astro";
import ButtonLeftArrow from "../components/ButtonLeftArrow.astro";
---

<style>
  .header {
    height: 831px;
    background-color: #fafafc;
    z-index: 100;
  }

  .button .logo-image {
    margin-right: 10px;
  }

  .right-top-blob {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }

  .left-bottom-blob {
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 1;
  }

  .two-col-flex {
    display: flex;
    justify-content: space-between;
  }

  .second-col-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: flex-end;
  }

  .text-box {
    width: 300px;
    height: 293px;
    padding: 23px;
    margin-right: 23px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
</style>

<BaseLayout>
  <div class="header">
    <HeroFirst
      subheadline="COIG S.A"
      headline="COIG CYBER"
      headlineAccent="Security"
      description="Chroń swoją firmę dzięki dedykowanym rozwiązaniom"
      descriptionAccent="bezpieczeństwa"
    />
    <BoxWithLeftIconButton
      headline="Security Operations Center"
      description="SOC zwiększa bezpieczeństwo firmy przez monitoring, wykrywanie zagrożeń i zarządzanie incydentami."
    />
  </div>
  <Image
    class="right-top-blob"
    src={RightBlob}
    alt="Right blob"
    widths={[240, 540, 720, RightBlob.width]}
  />
  <Image
    class="left-bottom-blob"
    src={LeftBlob}
    alt="Left blob"
    widths={[240, 540, 720, LeftBlob.width]}
  />
  <div class="section section--white">
  <div class="two-col-flex">
    <div class="first-col">
      <SectionTitle
        headline="Usługi cyberbezpieczeństwa"
        description="Zwiększ bezpieczeństwo w swojej firmie. Wybierz zestaw usług stosowny do potrzeb:"
        imageSrc={CyberPadlock}
        imageAlt="pierońsko kulka"
      />
    </div>
  

    <div class="second-col-flex">
      <ContentBorderBox
        image={DiagramdIcon.src}
        imageAlt="Diagram Icon"
        headline="Audyty IT"
        description="Audyt IT składa się z analizy procesów, weryfikacji zabezpieczeń, dokumentacji i oceny zgodności z regulacjami."
      />

      <ContentBorderBox
        image={RocketIcon.src}
        imageAlt="Rocket Icon"
        headline="Testy Penetracyjne"
        description="Kontrolowany atak pozwalający ocenić stan bezpieczeństwa systemu teleinformatycznego oraz jego odporność na zagrożenia i podatności."
      />

      <ContentBorderBox
        image={DiagramdIcon.src}
        imageAlt="Password Icon"
        headline="CSIRT COIG"
        description="Zespół CSIRT COIG reaguje na incydenty bezpieczeństwa, chroniąc usługi świadczone przez COIG S.A"
      />

      <div class="text-box">
        <h3>Dowiedz się <br /><span>o COIG S.A</span></h3>
        <ButtonLeftArrow href="#" description="Czytaj więcej" />
      </div>
    </div>
  </div>
</BaseLayout>
