---
import { Image } from "astro:assets";

import ThemeIcon from "./ThemeIcon.astro";
import CoigLogo from '../assets/logo-coig-1.png'

const baseURL = '/cyber-test/';
---

<style>
    .nav-link {
        color: #000;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 100% */
        text-wrap: nowrap;
    }

    .nav-link--button {
        color: #d41434;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 50px;
        border: 1px solid #d41434;
        padding: 10px 24px;
        text-wrap: nowrap;
    }

    .nav-link--button:hover {
        box-shadow: 0px 1px 9px 0px rgba(77, 77, 77, 0.25);
    }  

    .nav-link--anchor {
        display: block;
    }

    @media screen and (max-width: 1195px) {
        .nav-link--anchor {
            display: none;
        }
    }

    .image-logo {
        max-width: 57px;
        max-height: 16px;
    }

</style>

<div class="nav-links">
    <a class="nav-link" href={`${baseURL}soc/`}>SOC</a>
    <a class="nav-link" href={`${baseURL}audyt/`}>Audyt IT</a>
    <a class="nav-link" href={`${baseURL}pentesty/`}>Pentesty</a>
    <a class="nav-link" href={`${baseURL}#CSIRT`}>CSIRT COIG</a>
    <a class="nav-link" href={`${baseURL}contact/`}>Kontakt</a>
    <!-- <a class="nav-link" href="/tags/">News</a> -->
</div>

<div class="buttons-nav-link">
    <a class="nav-link nav-link--button nav-link--anchor" href="https://coig.pl"
        > <Image
        class="image-logo"
        src={CoigLogo}
        alt="Coig Logo"
    /></a
    >
   





</div>
